.jumbotron{
    background-color: rgb(0, 15, 27);
}
header{
    background-color: rgb(0, 15, 27);
    color: #fff;
}

#bg{
    background-color: rgb(0, 15, 27);
}

#content-bg{
    background-color:rgb(19, 21, 27);
}

#desc{
    color: #fff;
    margin-top: 20px;
    font-size-adjust: 0.58;
}